<h4> Reviews</h4>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- bookAvatar Column -->
  <ng-container matColumnDef="bookAvatar">
    <th mat-header-cell *matHeaderCellDef> Book Avatar </th>
    <td mat-cell *matCellDef="let element"> {{element.bookAvatar}} </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>


  <!-- review Column -->
  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef> Review </th>
    <td mat-cell *matCellDef="let element"> {{element.review}} </td>
  </ng-container>

  <!-- rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}}/5 </td>
  </ng-container>


  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td fxLayout="row" fxLayoutGap="5px" mat-cell *matCellDef="let element">
       <button mat-raised-button color="accent"(click)="editReview(element)">Edit</button>
       <button mat-raised-button color="warn">  Delete </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>