<form formGroupName="reviewForm" (ngSubmit)="onSubmit(reviewForm.value)">
  <div class="form-group">
    <label for="title">Book title</label>
    <input type="text" class="form-control" id="title" name="title" formControlName="title" required>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="author" class="form-control" id="author" name="author" formControlName="author" required>
  </div>
  <div class="form-group">
    <label for="review">Review</label>
    <textarea class="form-control" id="review" name="review" formControlName="review" required></textarea>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" id="rating" name="rating" formControlName="control"></select>
  </div>
</form>