<form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm.value)">

  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Book Title</mat-label>
      <input matInput type="text" id="title" name="title" formControlName="title" required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Book Author</mat-label>
      <input matInput type="author" id="author" name="author" formControlName="author" required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <label for="review">Review</label>
      <textarea matInput id="review" name="review" formControlName="review" required></textarea>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <mat-select formControlName="rating">
        <mat-option *ngFor="let ratingValue of ratingValues" [value]="ratingValue">{{ratingValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
   <app-uploads (uploadFilesUpdated)="updateFiles($event)" [basePath]="basePath"></app-uploads>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button type="submit" color="primary" [disabled]="!reviewForm.valid">
      Submit {{data.mode == 'create' ? '' : 'Edited'}} Review
    </button>
  </div>

</form>