<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <mat-card style="width: 35vw;">

    <div class="authBlock">
      <h1>Book Review CRUD</h1>
      <h2> <strong>Log In</strong></h2>
      <div class="formGroup">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" #email name="email" required>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" #userPassword name="password" required>
        </mat-form-field>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div>
        <button type="button" mat-raised-button color="primary"
          (click)="authService.SignIn(email.value, userPassword.value)">
          Log In
        </button>
      </div>
      <!-- <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <!-- <div class="formGroup">
        <button type="button" mat-raised-button (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div> -->

    </div>
 



  </mat-card>

</div>